# Config file for automatic testing at travis-ci.org

language: python

python:
  - 2.7
  - 3.6

env:
  - TOXENV=django111
  - TOXENV=django20

matrix:
  exclude:
    - python: 2.7
      env: TOXENV=django20
  include:
    - python: 3.6
      env: TOXENV=quality
    - python: 3.6
      env: TOXENV=docs

cache:
  - pip
  
before_install:
  - pip install --upgrade pip

install:
  - pip install -r requirements/travis.txt

script:
  - tox

after_success:
  - codecov

deploy:
  provider: pypi
  user: edx
  password: 
    secure: S3YrdGTgH3AXDN5EzMVLqyUvp/RvPc8lVo3Z5KrU3P9E87cjWyBUI+jVUk38lBUkO06n9ACbWt44f7H6n2GQeKCf6ZUZa69QgxXPRQZP+XiEGwtlv2YgatqeqNG7y6WTp3261mJ5kXuEcKBak7uNpru3gazEUxgc1EtbrsNPVS3oMChyIsi3j3KJuAq+h0AHibx1XMgWToU9aCbmrznjs18dXPmu+VhXyqJGliz79zxn5mvSZjCFOYwZtie/uD/g7+4V5wk75aDAfr4GYTbvvIvuDxyopZsaSRUB89aNWlpKKbOlsL5DuJWSkcY2I31tAQ3z3FtIJPKBFC44N81jwk+JdD4APq1qzeu3DMO+O8xJbUi8VZ6QgWiU17WnIFff0s9sTtmBdDRZAfx5XR4kqMLiVADSeR2XNfivP7/57LgEog0p0zrS2VnSbvvvk1lxfLxxwr3qk0DubP5SqgtqCrBfj/C5/iz5gg24c56kzfvf0BWF1vleez2Se/zQlICODpaT+Jf/2kPKFaaM3vwAKnCR/wD+Q9p6B1Dq8eb2ZRs4ucEkAuJtGfaKZrNUInt6h1bF7StnjyaXZnZWRbBRLMudoFEVOLg5pbEZiktYNuZWleYU120YUoz6O1mZOjt/FzPgXOu5o1tHN8OdcDWaEIzAO78LrIKAf6vqMtTavDM=
  distributions: sdist bdist_wheel
  on:
    tags: true
    condition: '$TOXENV = quality'
